.header {
  min-height: 100vh;
  background-image: url(../images/background_photo.png);
  background-position: right;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include on-desktop {
      max-width: 1260px;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0;
    color: $main-text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
      text-align: left;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }
  }
}
