.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition:
    transform $animation-duration,
    opacity $animation-duration;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call-4x.png);
  }

  &--burger {
    background-image: url(../images/Icon-Burger-menu-4x.png);

    &:hover {
      background-image: url(../images/Icon-Burger-menu-hover-4x.png);
    }
  }

  &--close {
    background-image: url(../images/Icon-Close-4x.png);
  }
}
