.product {
  &__photo {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    transition: transform $animation-duration;
  }

  &:hover &__photo {
    transform: scale($hover-scale);
  }

  &__title {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__describe {
    margin: 0 0 16px;
  }

  &__price {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }
}
