$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-text-color: #fff;
$main-text-color-dark: #1d1d1d;
$background-color: #1d1d1d;
$background-color-light: #fff;
$background-color-menu: #c2c2c2;
$animation-duration: 0.3s;
$hover-scale: 1.03;
$accent-color: #a9a9a9;
